In [19]:
import pandas as pd

In [20]:
f = open("token.txt", "r")
apiKey = f.readline()
f.close()

In [24]:
interval_var = '5min'
symbol = 'ETH'
path = 'https://www.alphavantage.co/query?function=CRYPTO_INTRADAY&symbol=' + symbol + '&market=USD&interval=' + interval_var + '&apikey=' + apiKey + '&datatype=csv&outputsize=full'

In [25]:
df = pd.read_csv(path)

In [29]:
df = df[::-1].reset_index()

In [33]:
df = df.drop(['index'], axis=1)

In [34]:
df

               timestamp     open     high      low    close  volume
0    2022-02-17 07:10:00  3090.95  3093.05  3087.18  3088.01     836
1    2022-02-17 07:15:00  3088.02  3090.21  3086.69  3087.01     543
2    2022-02-17 07:20:00  3087.00  3092.89  3086.06  3091.42     712
3    2022-02-17 07:25:00  3091.41  3091.50  3081.60  3081.72     684
4    2022-02-17 07:30:00  3081.74  3092.59  3080.00  3091.93     895
..                   ...      ...      ...      ...      ...     ...
995  2022-02-20 18:05:00  2646.14  2648.34  2643.78  2645.64     479
996  2022-02-20 18:10:00  2645.63  2660.65  2639.87  2659.22    1702
997  2022-02-20 18:15:00  2659.22  2660.02  2654.73  2655.25     588
998  2022-02-20 18:20:00  2655.26  2657.54  2649.30  2652.48     572
999  2022-02-20 18:25:00  2652.48  2652.77  2648.01  2651.61     245

[1000 rows x 6 columns]